/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

.text-center{
    text-align: center;
}

.my_margin-top{
    margin-top: 5rem;
}

.container{
    position: relative;
}

.carousel{
    margin: 5rem auto 0 auto;
    height: 27rem;
}

.carousel img{
    width: 20%;
    height: 30rem;
    margin: auto;
    object-fit: contain;
    display: block;
}

.prev{
    position: absolute;
    top: 40%;
    left: 32% 
}

.next{
    position: absolute;
    top: 40%;
    left: 65%;
}

.thumbnails{
    display: flex;
    align-items: center;
    width: calc(100% / 2);
    margin: 0 auto;
}

.thumb{
    object-fit: contain;
}


.thumb img{
    padding: 1rem 1rem;
    width: 100%;
    display: block;
}
